{% extends 'base.html' %}

{% block title %}Home{% endblock %}

<!-- Если нужно подключить дополнительный CSS на странице, пример -->
<!--
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
-->

{% block content %}
    <h2>Welcome to My Flask App!</h2>
    <p>This is the home page of our website.</p>
{% endblock %}

<!-- Если нужно подключить дополнительный JS на странице, пример -->
<!--
{% block extra_js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
-->